.l-header {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--color-l-top);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.l-header h1 {
  color: var(--color-l-text-primary);
  font-size: 3.8rem;
}

@media (max-width: 51.875em) {
  .l-header {
    display: block;
  }
}

.l-header__switch-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: end;
}

@media (max-width: 51.875em) {
  .l-header__switch-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.l-main {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.l-main__today--up {
  color: var(--color-green);
}

.l-main__today--down {
  color: var(--color-red);
}

.l-main h2 {
  color: var(--color-l-text-primary);
}

.l-main__c-followers {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, auto))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(200px, auto));
  -webkit-column-gap: 30px;
          column-gap: 30px;
  row-gap: 30px;
}

.l-main__c-followers h2 {
  font-size: 6.5rem;
}

@media (max-width: 76.5625em) {
  .l-main__c-followers {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
}

@media (max-width: 51.875em) {
  .l-main__c-followers {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
  }
}

.l-main__c-followers__card {
  border-radius: 8px;
  background-color: var(--color-l-card);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 210px;
}

@media (max-width: 76.5625em) {
  .l-main__c-followers__card {
    height: 240px;
  }
}

@media (max-width: 51.875em) {
  .l-main__c-followers__card {
    height: 260px;
  }
}

@media (max-width: 39.375em) {
  .l-main__c-followers__card {
    height: 380px;
  }
}

.l-main__c-overview {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  -webkit-column-gap: 30px;
          column-gap: 30px;
  row-gap: 30px;
}

@media (max-width: 76.5625em) {
  .l-main__c-overview {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
  }
}

@media (max-width: 45em) {
  .l-main__c-overview {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
  }
}

.l-main__c-overview__status {
  text-align: end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.l-main__c-overview__card {
  padding: 15px;
  height: 130px;
  border-radius: 8px;
  background-color: var(--color-l-card);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.l-main__c-overview__card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.l-main__c-overview__card__info img {
  width: 20px;
  height: 20px;
}

.l-main__c-overview__card h2 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.l-main__c-overview__card div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.l-main__c-overview__card label {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.l-main #overview-today {
  color: var(--color-l-text-secondary);
  margin-top: 50px;
  margin-bottom: 24px;
  font-size: 2.8rem;
}

:root {
  --color-l-card: #f0f2fa;
  --color-l-bg: white;
  --color-l-top: #f5f7ff;
  --color-l-text-secondary: #63687e;
  --color-l-text-primary: #1e202a;
  --color-green: #1db489;
  --color-red: #dc414c;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.container {
  position: relative;
  background-color: var(--color-l-bg);
  height: 100vh;
  font-family: Inter;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.4rem;
}

.container::before {
  content: '';
  height: 240px;
  background-color: var(--color-l-top);
  width: 100%;
  position: absolute;
  border-radius: 0 16px;
}

.content {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1100px;
  margin: 0 auto;
}

@media (max-width: 76.5625em) {
  .content {
    width: 65%;
  }
}

@media (max-width: 51.875em) {
  .content {
    width: 54%;
  }
}

@media (max-width: 39.375em) {
  .content {
    width: 80%;
  }
}
/*# sourceMappingURL=style.css.map */