.l-main {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;

    &__today--up {
        color: var(--color-green);
    }

    &__today--down {
        color: var(--color-red)
    }

    h2 {
        color: var(--color-l-text-primary);
    }

    &__c-followers {
        // background-color: red;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, auto));
        column-gap: 30px;
        row-gap: 30px;


        h2 {
            font-size: 6.5rem;
        }

        @include breakpoint(1225) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }

        @include breakpoint(830) {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(4, 1fr);
        }

        &__card {
            border-radius: 8px;
            background-color: var(--color-l-card);
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            height: 210px;

            @include breakpoint(1225) {
                height: 240px;
            }
            
            @include breakpoint(830) {
                height: 260px;
            }

            @include breakpoint(630) {
                height: 380px;
            }

            label {

            }
        }
    }

    &__c-overview {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 30px;
        row-gap: 30px;

        @include breakpoint(1225) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, 1fr);
        }

        @include breakpoint(720) {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(4, 1fr);
        }

        &__status {
            text-align: end;
            align-self: center;
        }

        &__card {
            padding: 15px;
            height: 130px;
            border-radius: 8px;
            background-color: var(--color-l-card);
            display: flex;
            flex-direction: column;

            &__info {
                display: flex;
                align-items: center;
                justify-content: space-between;

                img {
                    width: 20px;
                    height: 20px;
                }
            }

            h2 {
                align-self: center;
            }

            div {
                flex: 1;
                display: flex;
            }

            label {
                flex: 1;
            }
        }
    }

    #overview-today {
        color: var(--color-l-text-secondary);
        margin-top: 50px;
        margin-bottom: 24px;
        font-size: 2.8rem;
    }
}